<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Goals</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/style.css" />
  <script src="//use.typekit.net/drj1dzk.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

  <div class="wrap">

    <header class="primary-header">
      <h1 class="site-title">{{site.title}}</h1>
      <h2 class="site-tagline">I'm putting my goals out for everyone to see. These mean a great deal to me, but somedays I lose track of them. I forget. I'm hoping that by putting them out there for all to see, it will keep me more accountable and focus all of my decisions around getting closer to accomplishing each goal. Send me an email at <a href="mailto:nick@nickbytes.com">nick@nickbytes.com</a> if I can help you achieve some of your goals, if you have advice for me, or if you'd like to team up on one of these. <span class="signature">-Nick</span></h2>
    </header>

    <section class="content">
   
      {% for page in site.pages %}
      {% if page.title == 'Home' %}
      {% elsif page.title != 'Home' %}
        
          <div class="goal">
            <h3 class="goal-title">{{page.title}}</h3>
            <div class="goal-subtext">{{page.body}}</div>

            <ul class="goal-list">
              {% for post in page.posts %}
              <li class="goal-items">
                <a href="{{post.url}}">{{post.title}}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        
        {% endif %}
      {% endfor %}
      

    </section><!-- /content -->
    <footer>
    <p class="footer-text">Running on Siteleaf. <a href="https://github.com/nickbytes/goals">View code on github.</a></p>
    </footer>
  </div><!-- /wrap -->
</body>
</html>